<div class="content">
    <h3>Doctor Details </h3>

</div>
<div class="container">
    <div class="card">
        <div class="card-body">

            <div class="form-group row">
                <label for="doctorName" class="col-sm-2 col-form-label">Doctor Name:</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="doctorName" value={{doctor.doctorName}}>
            </div>
            <div class="form-group row">
                <label for="doctorExperience" class="col-sm-2 col-form-label">Doctor Experience:</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="doctorExperience" value={{doctor.experience}}>
            </div>
        
        </div>
    </div>  
    <button type="button" class="btn btn-primary" (click)="openAppointmentModal()">Book Appointment</button>
    <ng-template #appointmentModal>
        <div class="modal-header">
          <h5 class="modal-title">Book Appointment with {{ doctor.doctorName }}</h5>
          <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-appointment [doctor]="doctor"></app-appointment>
        </div>
      </ng-template>
    
</div>
